{% extends 'base.html.twig' %}

{% block title %}Редактировать автора{% endblock %}

{% block body %}
    <h1>Редактировать автора</h1>

    {{ include('author/_form.html.twig', {'button_label': 'Обновить'}) }}

    <br><a href="{{ path('app_author_index') }}">Назад к списку</a>

{% endblock %}
