{% extends 'base.html.twig' %}

{% block title %}Авторы{% endblock %}

{% block body %}
    <h1>Авторы</h1>

    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>ФИО</th>
                <th>Действие</th>
            </tr>
        </thead>
        <tbody>
        {% for author in authors %}
            <tr>
                <td>{{ author.id }}</td>
                <td>{{ author.name }}</td>
                <td>
                    <a href="{{ path('app_author_show', {'id': author.id}) }}">Показать</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">Записей не найдено</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_author_new') }}">Создать новую запись</a>
{% endblock %}
