{% extends 'base.html.twig' %}

{% block title %}Новый автор{% endblock %}

{% block body %}
    <h1>Создать нового автора</h1>

    {{ include('author/_form.html.twig') }}

    <a href="{{ path('app_author_index') }}">Назад к списку</a>
{% endblock %}
