<form method="post" action="{{ path('app_issue_delete', {'id': issue.id}) }}" onsubmit="return confirm('Вы уверены, что хотите удалить эту запись?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ issue.id) }}">
    <br>
    <button class="btn">Удалить</button>
</form>
