{% extends 'base.html.twig' %}

{% block title %}Редактировать выпуск{% endblock %}

{% block body %}
    <h1>Редактировать выпуск</h1>

    {{ include('issue/_form.html.twig', {'button_label': 'Обновить'}) }}

    <br><a href="{{ path('app_issue_index') }}">Назад к списку</a>

{% endblock %}
