{% extends 'base.html.twig' %}

{% block title %}Новый выпуск{% endblock %}

{% block body %}
    <h1>Создать новую статью</h1>

    {{ include('issue/_form.html.twig') }}

    <br><a href="{{ path('app_issue_index') }}">Назад к списку</a>
{% endblock %}
