{% extends 'base.html.twig' %}

{% block title %}Редактировать жанр{% endblock %}

{% block body %}
    <h1>Редактировать жанр</h1>

    {{ include('genre/_form.html.twig', {'button_label': 'Обновить'}) }}

    <br><a href="{{ path('app_genre_index') }}">Назад к списку</a>

{% endblock %}
