{% extends 'base.html.twig' %}

{% block title %}Создать автора{% endblock %}

{% block body %}
    <h1>Создать новый жанр</h1>

    {{ include('genre/_form.html.twig') }}

    <br><a href="{{ path('app_genre_index') }}">Назад к списку</a>
{% endblock %}
