<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Финальный проект{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
    {% if app.request.get('_route') != 'app_login' and app.request.get('_route') != 'app_register' %}
        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            <a href="/article">Статьи</a>
            <a href="/author">Авторы</a>
            <a href="/genre">Жанры</a>
            <a href="/issue">Выпуски</a>
            <a href="/logout">Выйти</a><br>
        {% else %}
            <a href="/login">Войти</a>
            <a href="/register">Регистрация</a><br>
        {% endif %}
    {% endif %}
        {% block body %}{% endblock %}
    </body>
</html>
<style>
    .table {
        border-collapse: collapse;
        margin: 25px 0;
        font-size: 0.9em;
        font-family: sans-serif;
        min-width: 400px;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    }
    .table thead tr {
        background-color: #009879;
        color: #ffffff;
        text-align: left;
    }
    .table th,
    .table td {
        padding: 12px 15px;
    }
    .table tbody tr {
        border-bottom: 1px solid #dddddd;
    }
    .table tbody tr:nth-of-type(even) {
        background-color: #f3f3f3;
    }
    .table tbody tr:last-of-type {
        border-bottom: 2px solid #009879;
    }
    .table tbody tr.active-row {
        font-weight: bold;
        color: #009879;
    }
    a, h1 {
        font-family: sans-serif;
    }
    button{
        display: inline-block;
        outline: 0;
        cursor: pointer;
        border-radius: 8px;
        box-shadow: 0 2px 5px 0 rgb(213 217 217 / 50%);
        background: white;
        border: 1px solid #009879;
        height: 22px;
        padding: 0 6px;
        text-align: center;
        font-weight: 500;
        color: #0F1111;
    }
</style>
