{% extends 'base.html.twig' %}

{% block title %}Редактировать статью{% endblock %}

{% block body %}
    <h1>Редактировать статью</h1>

    {{ include('article/_form.html.twig', {'button_label': 'Обновить'}) }}

    <a href="{{ path('app_article_index') }}">Назад к списку</a>

    {{ include('article/_delete_form.html.twig') }}
{% endblock %}
